<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>868069013034-0m22kbscvlsldlsgg81qo1ot0gc6h75u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.868069013034-0m22kbscvlsldlsgg81qo1ot0gc6h75u</string>
	<key>API_KEY</key>
	<string>AIzaSyAy48iaSvi660ogqpBzhMTeqey2kd3d5RU</string>
	<key>GCM_SENDER_ID</key>
	<string>868069013034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dicoding.ditonton</string>
	<key>PROJECT_ID</key>
	<string>ditonton-a9e80</string>
	<key>STORAGE_BUCKET</key>
	<string>ditonton-a9e80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:868069013034:ios:20d7a5d8b567adfa55b553</string>
</dict>
</plist>